// Default
$jet-black: #343434;
$charcoal: #36454F;
$asphalt: #4C5866;
$spanish-grey: #989898;
$white-smoke: #F5F5F5;
$ghost-white: #F8F8FF;
$midnight-express: #0B1E3B;
$alice-blue: #F0F8FF;
$light-grey: #EEECEE;
$renault-neutral: #F5F7FA;

// Pandan
$teal-green: #2E8B57;
$mint: #3EB489;
$celadon: #ACE1AF;

// Rambutan
$burgundy: #800020;
$crimson: #DC143C;
$pastel-red: #FF6961;

// Nadi
$teal: #008080;
$tiffany-blue: #0ABAB5;
$turquoise: #30D5C8;

// InnovateBorneo
$navy-blue: #003B73;
$blue-grotto: #0476D0;
$blue-gray: #6699CC;

// Notifications
$dark-powder-primary: #0D3B95;
$caribbean-green-success: #06D6A0;
$blue-green-info: #118AB2;
$infra-red-danger: #EF476F;
$dandelion-warning: #FFD166;
$dark-inverse: #292B2C;
$light-faded: #F7F7F7;
