.text-jet-black { color: $jet-black !important; }
.text-charcoal { color: $charcoal !important; }
.text-asphalt { color: $asphalt !important; }
.text-spanish-grey { color: $spanish-grey !important; }
.text-white-smoke { color: $white-smoke !important; }
.text-ghost-white { color: $ghost-white !important; }
.text-midnight-express { color: $midnight-express !important; }
.text-alice-blue { color: $alice-blue !important; }
.text-light-grey { color: $light-grey!important; }
.text-renault-neutral { color: $renault-neutral !important; }
.text-teal-green { color: $teal-green !important; }
.text-mint { color: $mint !important; }
.text-celadon { color: $celadon!important; }
.text-burgundy { color: $burgundy !important; }
.text-crimson { color: $crimson !important; }
.text-pastel-red { color: $pastel-red !important; }
.text-teal { color: $teal !important; }
.text-tiffany-blue { color: $tiffany-blue !important; }
.text-turquoise { color: $turquoise !important; }
.text-navy-blue { color: $navy-blue !important; }
.text-blue-grotto { color: $blue-grotto !important; }
.text-blue-gray { color: $blue-gray !important; }
.text-dark-powder-primary { color: $dark-powder-primary !important; }
.text-caribbean-green-success { color: $caribbean-green-success !important; }
.text-blue-green-info { color: $blue-green-info !important; }
.text-infra-red-danger { color: $infra-red-danger !important; }
.text-dandelion-warning { color: $dandelion-warning !important; }
.text-dark-inverse { color: $dark-inverse !important; }
.text-light-faded { color: $light-faded !important; }

.bg-jet-black { background-color: $jet-black; }
.bg-charcoal { background-color: $charcoal; }
.bg-asphalt { background-color: $asphalt; }
.bg-spanish-grey { background-color: $spanish-grey; }
.bg-white-smoke { background-color: $white-smoke; }
.bg-ghost-white { background-color: $ghost-white; }
.bg-midnight-express { background-color: $midnight-express; }
.bg-alice-blue { background-color: $alice-blue; }
.bg-light-grey { background-color: $light-grey; }
.bg-renault-neutral { background-color: $renault-neutral; }
.bg-teal-green { background-color: $teal-green; }
.bg-mint { background-color: $mint; }
.bg-celadon { background-color: $celadon; }
.bg-burgundy { background-color: $burgundy; }
.bg-crimson { background-color: $crimson; }
.bg-pastel-red { background-color: $pastel-red }
.bg-teal { background-color: $teal; }
.bg-tiffany-blue { background-color: $tiffany-blue; }
.bg-turquoise { background-color: $turquoise; }
.bg-blue-grotto { background-color: $blue-grotto; }
.bg-navy-blue { background-color: $navy-blue !important; }
.bg-blue-grotto { background-color: $blue-grotto !important; }
.bg-blue-gray { background-color: $blue-gray !important; }
.bg-dark-powder-primary { background-color: $dark-powder-primary !important; }
.bg-caribbean-green-success { background-color: $caribbean-green-success !important; }
.bg-blue-green-info { background-color: $blue-green-info !important; }
.bg-infra-red-danger { background-color: $infra-red-danger !important; }
.bg-dandelion-warning { background-color: $dandelion-warning !important; }
.bg-dark-inverse { background-color: $dark-inverse !important; }
.bg-light-faded { background-color: $light-faded !important; }

.border-jet-black { border-color: $jet-black; }
.border-charcoal { border-color: $charcoal; }
.border-asphalt { border-color: $asphalt; }
.border-spanish-grey { border-color: $spanish-grey; }
.border-midnight-express { border-color: $midnight-express; }
.border-alice-blue { border-color: $alice-blue; }
.border-light-grey { border-color: $light-grey; }
.border-renault-neutral { border-color: $renault-neutral; }
.border-white-smoke { border-color: $white-smoke; }
.border-ghost-white { border-color: $ghost-white; }
.border-teal-green { border-color: $teal-green; }
.border-mint { border-color: $mint; }
.border-celadon { border-color: $celadon; }
.border-burgundy { border-color: $burgundy !important; }
.border-crimson { border-color: $crimson !important; }
.border-pastel-red { border-color: $pastel-red !important; }
.border-teal { border-color: $teal; }
.border-tiffany-blue { border-color: $tiffany-blue; }
.border-turquoise { border-color: $turquoise; }
.border-blue-grotto { border-color: $blue-grotto; }
.border-navy-blue { border-color: $navy-blue !important; }
.border-blue-grotto { border-color: $blue-grotto !important; }
.border-blue-gray { border-color: $blue-gray !important; }
.border-dark-powder-primary { border-color: $dark-powder-primary !important; }
.border-caribbean-green-success { border-color: $caribbean-green-success !important; }
.border-blue-green-info { border-color: $blue-green-info !important; }
.border-infra-red-danger { border-color: $infra-red-danger !important; }
.border-dandelion-warning { border-color: $dandelion-warning !important; }
.border-dark-inverse { border-color: $dark-inverse !important; }
.border-light-faded { border-color: $light-faded !important; }

.border-left-colour-crimson { border-left-color: $crimson !important; }

.table-ghost-white {
  background-color: $ghost-white;
  color: $jet-black;
}

a { color: $jet-black; text-decoration: none; }
a:hover { color: $burgundy; }
