<%= render @category %>
<div>
  <%= link_to 'Edit Category', edit_admin_category_path(@category) %>
  |
  <%= link_to 'All Categories', admin_categories_path %>
  <%= button_to 'Delete Category', admin_category_path(@category), method: :delete %>
</div>