<h1>Industries</h1>
<div id="industries">
  <% @industries.each do |industry| %>
    <%= render industry %>
    <p>
      <%= link_to 'Industry Details', admin_industry_path(industry) %>
    </p>
  <% end %>
</div>
<%= link_to 'Add Industry', new_admin_industry_path %>
  