<footer class="footer bg-renault-neutral border-top mt-auto pt-4 pb-4 pe-5">
  <section class="container-fluid text-end">
    <small class="mb-0">&copy; <%= Date.today.year %> <%= link_to 'PC Collection', root_path, target: '_blank' %></small>
  </section>
</footer>