<section class="bg-renault-neutral border-bottom">
  <section class="container-fluid ps-5 pe-5">
    <section class="row">
      <section class="col-md-6 text-start align-self-center">
        <button id="menu-toggle" class="btn btn-outline-midnight-express border-0 btn-sm" data-action="toggle#toggle">
          <i class="fas fa-sliders-h"></i>
        </button>
      </section>
      <section class="col-md-6 text-end align-self-center">
        <ul class="list-inline mt-3">
          <li class="list-inline-item dropdown">
            <a id="dropdownUserMenu" class="nav-link dropdown-toggle bg-white rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" href="#">Admin</a>
            <ul class="dropdown-menu dropdown-menu-header border-alice-blue shadow-lg py-3 px-2" aria-labelledby="dropdownUserMenu">
              <li><%= link_to 'Link', admin_root_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Link', admin_root_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </section>
    </section>
  </section>
</section>