<h1>Editing vendor</h1>
<%= render 'vendor_form', vendor: @vendor %>
<br>
<div>
  <%= link_to 'Show this vendor', admin_vendor_path(@vendor) %>
  |
  <%= link_to 'Back to vendors', admin_vendors_path %>
</div>
  