<%= render @vendor %>
<div>
  <%= link_to 'Edit this vendor', edit_admin_vendor_path(@vendor) %>
  |
  <%= link_to 'Back to vendors', admin_vendors_path %>
  <%= button_to 'Destroy this vendor', admin_vendor_path(@vendor), method: :delete %>
</div>